<h1>Receipt for Table <%= @party.table_name %></h1>

<h2>Itemized list:</h2>
<ul>
<% @party.orders.each do |order| %>
    <li><%= order.food.name %></li>
<% end %>
</ul>
Total: $<%= @party.total %>.00<br>

<% tipfifteen = @party.total * 0.15 %>
15% Tip: $<%= tipfifteen.to_i %>.00<br><br>

<% tiptwenty = @party.total * 0.20 %>
20% Tip: $<%= tiptwenty.to_i %>.00<br><br>

<% tiptwentyfive = @party.total * 0.25 %>
25% Tip: $<%= tiptwentyfive.to_i %>.00<br><br>
