<h2>Edit <%= @food.name %></h2>

<form action="/foods/<%= @food.id %>" method="POST">

<label for="food_name">Name:</label>
	<input id="food_name" type="text" name='food[name]' value="<%= @food.name%>"><br>

<label for="food_cuisine">Cuisine Type:</label>
	<input id="food_cuisine" type="text" name='food[cuisine]' value="<%= @food.cuisine%>" >
<br>

<label for="food_price">Price:</label>
	<input id="food_price"type="number" name='food[price]'value="<%= @food.price%>">
<br>

	<input type="hidden" name="_method" value="patch">
	<input type="submit" value="Submit">
</form>

<form action="/foods/<%= @food.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form>