<!DOCTYPE html>
<html>
<head>
  <title>Create Order | Parties | The Mingus</title>
</head>

<body>
  <header>
    <img src="../../assets/mingus-logo.png">
      <nav>
        <ul class="mainnav clearfix">
          <li><a href='/'>Home</a></li>
          <li><a href='/foods'>Menu</a></li>
          <li class="current"><a href='/parties'>Parties</a></li>
      </ul>
      </nav>
  </header>

  <main>
    <h1>Create Order <%= @party.table_name %></h1>
      <div class="page">
        <form action="/parties/<%= @party.id %>/orders" method="POST">      
          <input id="order_partyid" type="hidden" name="order[partyid]" value="<%= @order.partyid %>"> 
            <select name ="order[foodid]">
              <% @foods.each do |food| %>
              <option id="food_name" type="text" value="<%= food.id %>">
              <%= food.name %> 
              </option>
              <% end %>
            </select>      
          <input type="submit" name="submit" value="Add" id="submit">    
        </form>
      </div>
    </main>
  </body>
</html>
